<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
     <form action="/auth/signin" method="post">

        <label for="username">Username: </label>
        <input type="text" name="username" id="name">
        <br /><br />

        <label for="email">User email</label>
        <input type="text" name="email" id="email">
        <br /><br />
        <label for="password">User password</label>
        <input type="text" name="password" id="password">
        <br /><br />

        <button type="submit">Sign in</button>
    </form>
</body>
</html>