<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <form action="/auth/signup" method="post">

        <label for="fullname">Fullname: </label>
        <input type="text" name="fullname" id="fullname">
        <br /><br />
        
        <label for="username">Username: </label>
        <input type="text" name="username" id="name">
        <br /><br />

        <label for="email">User email</label>
        <input type="text" name="email" id="email">
        <br /><br />

        <label for="password">User password</label>
        <input type="text" name="password" id="password">
        <br /><br />

        <label for="role">Role </label>
        <input type="text" name="role" id="role">
        <br /><br />


        <button type="submit">Sign up</button>
    </form>
</body>

</html>