<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Grade form </title>
</head>

<body>
    <h1>Enter Student Details</h1>

    <form action="/calculate" method="post">
        <label for="name">Student name: </label>
        <input type="text" name="name" id="name">
        <br /><br />

        <label for="maths">Maths Marks: </label>
        <input type="text" name="maths" id="maths">
        <br /><br />

        <label for="science">Science Marks</label>
        <input type="text" name="science" id="science">
        <br /><br />

        <label for="english">English Marks</label>
        <input type="text" name="english" id="english">
        <br /><br />

        <button type="submit">Generate student grade</button>
    </form>
</body>

</html>